.attack_icon {
    display: inline-block;
    background: url(media_src/little_icons.png) no-repeat -19px 0px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.mana_icon {
    display: inline-block;
    background: url(media_src/little_icons.png) no-repeat -19px -31px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}

.health_icon {
    display: inline-block;
    background: url(media_src/little_icons.png) no-repeat -19px -16px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}

.ugly_repeat{
    li:nth-child(odd) {
    background: url(media_src/backgroundimg.jpg)no-repeat -19px -31px;
}
}
.main_body {
    margin: 49px;
}
.navbar_custom {
    background-color: #6C6666;
    border-color: #000;
}
.navbar_container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 50px;
    top: 50%;
}
.search {
    margin-top: 9px;
    display: inline-block;
    
}

.vcenter {
    display: inline-block;
    horizontal-align: middle;
    float: none;
}
;
