.attack_icon {
    display: inline-block;
    background: url(media_src/little_icons.png) no-repeat -19px 0px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.mana_icon {
    display: inline-block;
    background: url(media_src/little_icons.png) no-repeat -19px -31px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.health_icon {
    display: inline-block;
    background: url(media_src/little_icons.png) no-repeat -19px -16px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.main_body {
    margin: 49px;
    background: url(media_src/main-body-diagram.jpg);
}
.inner_body {
    background-color: #E1D7BD;
}
.navbar_custom {
    background-color: #6C6666;
    border-color: #000;
}
.navbar_container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 50px;
    top: 50%;
}
.search {
    margin-top: 9px;
    width: 100%;
}
.body_ul {
    margin-top: 11px;
}
.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}
.navbar_icon {
    margin-top: 9px;
    display: inline-block;
}
.other-controller {
    margin: -12px;
    padding: 0px;
    height: 33px;
}
.other-controller small {
    color: #99c;
}
.card-info-wrapper {
    position: relative;
    display: block;
    height: 313px;
}
.card-flavor-position {
    position: absolute;
    left: 0px;
    bottom: 10%;
    width: 220px;
}
.card-container {
    display: inline-block;
}
.no-dot-ul {
    list-style-type: none;
    height: 100%;
}
.no-dot-li {
    list-style-type: none;
    display: block;
}
.card-stats-wrapper {
    display: block;
    top: 20%;
    position: absolute;
    text-align: right;
    width: 150px;
}
em.rarity {
    display: block;
}
.gvg-icon {
    display: inline-block;
    background: url(media_src/gvg-icon.png);
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-left: 5px;
}
.naxx-icon {
    display: inline-block;
    background: url(media_src/naxx-icon.png);
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-left: 5px;
}
/* ========================================Class Icons =========================================== */

.class-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat 0px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.druid-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat -25px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.hunter-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat -50px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.mage-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat -75px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.pally-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat -100px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.priest-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat -125px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.rogue-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat -150px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.shaman-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat -175px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.warlock-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat -200px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.warrior-icon {
    display: inline-block;
    background: url(media_src/class-icons.png) no-repeat -225px 0px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
.no-icon {
    display: inline-block;
    background: transparent;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-left: 5px;
}
/*==================================END OF ICONS=================================================*/
/*===================================Animations==================================================*/

.fadeInOut {
    -webkit-transition: 0.5s;
}
.fadeInOut.ng-enter {
    opacity: 0;
}
.fadeInOut.ng-leave {
    opacity: 1;
}
.fadeInOut.ng-enter.ng-enter-active {
    opacity: 1;
}
.fadeInOut.ng-leave.ng-leave-active {
    opacity: 0;
}
/*==================================END OF ANIMATIONS=================================================*/

@font-face {
    font-family: bliz-quadrata;
    src: url(media_src/bliz-quadrata.woff);
}
.hs-font {
    font-family: bliz-quadrata;
}
.slides_control {
    width: 48%;
    height: 265px;
    margin-left: 26%;
}
.index-body-relative {
    position: relative;
}
.card-background {
    background: url(media_src/cardbackground.jpg);
    height: 488px;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.relative-row {
    position: relative;
    top: 17%;
}
.centered {
    right: 31%;
    top: -24%;
    padding-left: 325px;
}

.colletibleBtn{
    top: 40%;
}

.noPaddingLeftRight{
    padding-left: 0px;
    padding-right: 0px;
}
