.attack_icon {
    display: inline-block;
    background: url(media_src/little_icons.png) no-repeat -19px 0px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.mana_icon {
    display: inline-block;
    background: url(media_src/little_icons.png) no-repeat -19px -31px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.health_icon {
    display: inline-block;
    background: url(media_src/little_icons.png) no-repeat -19px -16px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-left: 5px;
}
.main_body {
    margin: 49px;
    background: url(media_src/main-body-diagram.jpg);
}
.navbar_custom {
    background-color: #6C6666;
    border-color: #000;
}
.navbar_container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    height: 50px;
    top: 50%;
}
.search {
    margin-top: 9px;
    width: 60%;
}
.body_ul {
    margin-top: 11px;
}
.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}
.navbar_icon {
    margin-top: 9px;
    display: inline-block;
}
.other-controller {
    margin: -12px;
    padding: 0px;
}
.other-controller small {
    color: #99c;
}
.card-info-wrapper {
    position: relative;
    display: block;
    height: 313px;
}
.card-flavor-position {
    position: absolute;
    left: 0px;
    bottom: 10%;
    width: 220px;
}
.card-container {
    display: inline-block;
}
.no-dot-ul {
    list-style-type: none;
    height: 100%;
}
.no-dot-li {
    list-style-type: none;
    display: block;
}
.card-stats-wrapper {
    display: block;
    top: 20%;
    position: absolute;
    text-align: right;
    width: 150px;
}
em.rarity {
    display: block;
}
;
