<!DOCTYPE html>
<html ng-app="HearthStone_wiki">

<!-- Initiallize Angular -->

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>



<!-- Initiallize other sources -->

<head>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="custom_icon.css" />

    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bootstrap/ui/ui-bootstrap-tpls-0.9.0.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="dirPagination.js"></script>


</head>


<body class="main_body" ng-controller="hsController">

    <!--  Navbar in controller  -->

    <nav class="navbar navbar_custom navbar-fixed-top">
        <div class="navbar_container">


            <!-- Button has bug on Chrome>
            <a class="navbar_icon pull-left" href="#">
                <img alt="hsicon" ng-src="media_src/hs_icon.png" height="38px">
            </a>
            -->
            <div class="row search pull-right ">
                <div class="col-sm-6 ">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                        <input type="text" ng-model="filterName" class="form-control" placeholder="Filter by Name" aria-label="">
                        <!--Debugging tool, makes users able to select how many items to display on a page-->

                        <!-- <input type="number" min="1" max="100" class="form-control" ng-model="pageSize"> 
                        -->

                        <a class="clear input-group-addon" ng-click="filterName = ''">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <!-- Split button -->

                <span class="nullable col-sm-4">
                <select class="form-control" ng-model="filterRace" >
                  <option ng-click="filterRace = undefined">-- Reset Race Filter--</option>
                  <option value="beast">-- Beast --</option>
                  <option value="demon">-- Demon --</option>
                  <option value="murloc">-- Murloc --</option>
                  <option value="totem">-- Totem --</option>
                </select>
                </span>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
    </nav>

    <!-- Navbar ended -->
    <div class="container">

        <ul class="col body_ul" dir-paginate="card in basic|filter:{name:filterName, race:filterRace, collectible:true}|itemsPerPage:pageSize" current-page="currentPage">

            <!-- Card object grid -->
            <div class="col-sm-6 well">
                <ul>
                    <h3 class="text-center">
                    {{card.name}} <span ng-class="{'gvg-icon':nameGvgIcon(card), 'naxx-icon':nameNaxxIcon(card)}"> </span>
                    </h3>
                    <div class="card-container">
                        <div class="col-md-8 ">

                            <img width="100%" ng-src="http://wow.zamimg.com/images/hearthstone/cards/enus/original/{{card.id}}.png" alt="{{card.name}}">

                        </div>

                        <div class="col-md-4 card-info-wrapper ">

                            <ul class="no-dot-ul">
                                <div class="card-stats-wrapper">
                                    <li class="no-dot-li">
                                        <em ng-show="showZeroCost(card)" class="">Cost: {{card.cost}}<span class="mana_icon">
                                    </span></em>
                                    </li>
                                    <li class="no-dot-li">
                                        <em ng-show="showZeroAttack(card)" class="">Attack: {{card.attack}}<span class="attack_icon">
                                    </span></em>
                                    </li>
                                    <li class="no-dot-li">
                                        <em ng-show="card.health" class="">Health: {{card.health}}<span class="health_icon">
                                    </span></em>
                                    </li>
                                    <li class="no-dot-li ">
                                        <em class="rarity">Rarity: <b><div ng-style="{'color':rarityColor(card), 'display':'inline'}">{{card.rarity}}</div></b></em>
                                    </li>
                                </div>
                                <li class="no-dot-li">
                                    <em class="card-flavor-position" ng-show="showCard(card)" class="bottom-aligned-text">{{card.flavor}}</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </ul>
    </div>
    <!-- page number sel-->
    <nav class="navbar navbar_custom navbar-fixed-bottom">
        <div class="navbar_container">
            <div ng-controller="OtherController" class="other-controller ">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </nav>
    <!-- Image Gallery  -->



</body>

</html>
